<section class="bg-primary" id="about" xmlns="http://www.w3.org/1999/html">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">IT'S TIME TO PUT YOURSELF FIRST</h2>
                <hr class="light">
                <p class="text-faded"></p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row flex-lg-row-reverse g-5 py-5">
            <div class="col-5 col-lg-5">
                <div class="row text-center">
                    <img src="img/profile/profile.png" class="" loading="lazy">
                </div>
                <p></p>
                <div class="row text-muted" style="color:black;">
                    <div class="col">
                        <h4 class="lead"><i class="bi bi-patch-check-fill"></i> Level 3 Personal Training</h4>
                        <h4 class="lead"><i class="bi bi-patch-check-fill"></i> Advanced Nutrition For Optimal Health</h4>
                    </div>
                    <div class="col">
                        <h3 class="lead"><i class="bi bi-patch-check-fill"></i> Sports Nutrition For Ultimate Performance</h3>
                        <h3 class="lead"><i class="bi bi-patch-check-fill"></i> Expert Patient Programme Tutor</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 text-center">
                <h2 class="section-heading text-center highlight">About Me</h2>
                <hr class="light">
                <h4 class="lead text-justify">
                    Hi, I’m <span class="highlight">Jaz</span>, an industry qualified
                    <span class="highlight">Level 3 Personal Trainer & Nutritionist</span>
                    with over <span class="highlight">10 years</span>
                    of experience in the health & fitness industry.
                </h4>
                <h4 class="lead text-justify">
                    For the last 18 years I have been living with a rare auto-immune condition,
                    which resulted in me being wheelchair bound, requiring 25 surgeries, and told I may not have kids.
                    Now I’m a father of three and walking again. I took my health into my own hands to win the battle and
                    now just manage my unpredictable condition with positive lifestyle changes.
                </h4>
                <h4 class="lead text-justify">
                    This brought me to work in the fitness industry to
                    <span class="highlight"> motivate </span> <i>(while showing empathy)</i>
                    to get the best results for my clients.
                    All have <span class="highlight">lost weight</span>, become
                    <span class="highlight">healthier, fitter, stronger</span> &
                    <span class="highlight">confident</span>.
                </h4>
                <h4 class="lead text-justify">
                    I recently completed a year of mentoring by 2 leading coaches. I also volunteered as an
                    <span class="highlight">Expert Patient Programme Tutor</span> in the past, teaching others living
                    with long-term health conditions, how to manage their health by managing their symptoms.
                    This allowed them to use the new lifestyle habits to live a healthier & independent life.
                </h4>
                <a href="https://koalendar.com/e/atm-enterprise" target="_blank" class="btn btn-default btn-lg page-scroll">
                    Get Started Today &raquo;
                </a>
            </div>

        </div>
        <hr class="light">
        <div class="row d-flex text-center">
            <a href="https://www.thegymgroup.com/find-a-gym/east-london-gyms/london-ilford-pioneer-point/" target="_blank" class="btn">
                <img src="img/logo/gymgroup.png" width="160" height="90" loading="lazy">
            </a>
            <a href="https://solgar.co.uk" target="_blank" class="btn">
                <img src="img/logo/solgar.png" width="160" height="90" loading="lazy">
            </a>
            <a href="https://reflexnutrition.com" target="_blank" class="btn">
                <img src="img/logo/reflex.png" width="160" height="110" loading="lazy">
            </a>
            <a href="https://www.nelft.nhs.uk/epp/" target="_blank" class="btn">
                <img src="img/logo/nelft.png" width="200" height="90" loading="lazy">
            </a>
        </div>
    </div>
</section>
