<section class="bg-primary" id="about" xmlns="http://www.w3.org/1999/html">
    <img src="{{site.logo}}" class="logowatermark" alt="jaz boom logo">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading text-center highlight">About Me</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row flex-lg-row-reverse g-5 py-5">
            <div class="col-5 col-lg-5">
                <div class="row text-center">
                    <img src="img/profile/profile.jpg" loading="lazy" class="aboutmeprofile" alt="profile picture">
                </div>
            </div>

            <div class="col-lg-7 text-center fontblack">
                <h4 class="lead text-justify">
                    Hi, I’m <span class="highlight">Jaz</span> a Nutritionist and Personal Trainer (PT) with over 10 years
                    of experience in the health & fitness industry.
                </h4>
                <h4 class="lead text-justify">
                    Since 2004 I have been living with a rare auto-immune condition, which
                    resulted in me being wheelchair bound, requiring multiple surgeries, and told I
                    may not have kids. Now, I am married, a father of 3 and walking again. I took
                    my health into my own hands to win the battle and now just do my best to
                    manage my unpredictable rare auto-immune condition, along with epilepsy
                    with positive lifestyle changes.
                </h4>
                <h4 class="lead text-justify">
                    The above brought me to work in the industry to inspire, motivate
                    <i>(while showing empathy)</i> to get the best results for my clients. All have
                    lost weight, become healthier, fitter, stronger &amp; more confident.
                </h4>
                <h4 class="lead text-justify">
                    Over the course of myself being a nutritionist and personal trainer I have trained and helped
                    many people with not just <span class="highlight">weight loss</span>,
                    <span class="highlight">increased strength</span>,
                    <span class="highlight">body toning</span> and
                    <span class="highlight">correcting posture</span>, but health conditions such as
                        <span class="highlight">high blood sugar</span>,
                            <span class="highlight">high blood pressure</span>,
                                <span class="highlight">high cholesterol</span>, and
                                    <span class="highlight">hemiplegia</span>.
                </h4>
                <h4 class="lead text-justify">
                    I also volunteered as an <span class="highlight">Expert Patient Programme Tutor</span> in the past,
                    teaching others living with long-term health conditions, how to manage their health by
                    managing their symptoms. This allowed them to use their new lifestyle habits
                    to live a healthier &amp; more independent life.
                </h4>
                <h4 class="lead text-justify">
                    Find out more by booking a complementary consultation today.
                </h4>
                <a href="{{site.baseurl}}/booking#book" class="btn btn-default btn-lg page-scroll"
                   rel="noopener noreferrer">
                    Book Today &raquo;
                </a>
            </div>
        </div>
    </div>

    <img src="{{site.logo}}" class="logowatermark" alt="jaz boom logo">

</section>
