<section class="bg-primary" id="about" xmlns="http://www.w3.org/1999/html">
    <img src="img/logo/jazboom.png" class="logowatermark">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading text-center highlight">About Me</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row flex-lg-row-reverse g-5 py-5">
            <div class="col-5 col-lg-5">
                <div class="row text-center">
                    <img src="img/profile/profile.png" loading="lazy" class="aboutmeprofile" alt="profile picture">
                </div>
            </div>

            <div class="col-lg-7 text-center fontblack">
                <h4 class="lead text-justify">
                    Hi, I’m <span class="highlight">Jaz</span> a Nutritionist/PT with over
                    <span class="highlight">10 years</span> of experience
                    in the health & fitness industry.
                </h4>
                <h4 class="lead text-justify">
                    Since 2004 I have been living with a rare auto-immune condition, which resulted in me being
                    wheelchair bound, requiring multiple surgeries, and told I may not have kids. Now, I am married, a
                    father of 3 and walking again. I took my health into my own hands to win the battle and now just do
                    my best to manage my unpredictable rare auto-immune condition, along with epilepsy with positive
                    lifestyle changes.
                </h4>
                <h4 class="lead text-justify">
                    The above brought me to work in the industry to inspire,
                    <span class="highlight"> motivate </span> <i>(while showing empathy)</i> to get
                    the best results for my clients. All have <span class="highlight">lost weight</span>, become
                    <span class="highlight">healthier, fitter, stronger</span> &
                    <span class="highlight">confident</span>.
                </h4>
                <h4 class="lead text-justify">
                    I also volunteered as an <span class="highlight">Expert Patient Programme Tutor</span> in the past,
                    teaching others living with long-term health conditions, how to manage their health by managing
                    their symptoms. This allowed them to use their new lifestyle habits to live a
                    healthier & more independent life.
                </h4>
                <h4 class="lead text-justify">
                    Take the first step in reaching your goal, by
                    <span class="highlight">booking a complementary consultation</span> with me.
                </h4>
                <a href="{{ site.appointment_booking_url }}" target="_blank" class="btn btn-default btn-lg page-scroll"
                   rel="noopener noreferrer">
                    Start Today &raquo;
                </a>
            </div>
        </div>
    </div>

    <img src="img/logo/jazboom.png" class="logowatermark">

</section>
