<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Contact</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="lead highlight text-center">Follow me on social media</h2>
                <p>
                    <ul>
                        <li><a href="{{ site.facebook_url }}" target="_blank">Facebook</a></li>
                        <li><a href="{{ site.instagram_url }}" target="_blank">Instagram</a></li>
                        <li><a href="{{ site.whatsapp_url }}" target="_blank">Whatsapp</a></li>
                    </ul>
                </p>

            </div>
            <div class="col-md-4">
                    <h2 class="lead highlight text-center">Address</h2>
                    <p class="text-center">
                        The Gym Group<br>
                        Pioneer Point, <br>
                        3-5 Winston Way, <br>
                        Ilford IG1 2ZG <br>
                        Essex
                    </p>
            </div>
            <div class="col-md-4">
                    <div class="row">
                        <h2 class="lead highlight text-center">Telephone</h2>
                        <p class="text-center">
                            +44 (0) 7415 547566
                        </p>
                    </div>
                    <div class="row">
                        <h2 class="lead highlight text-center">Email</h2>
                        <p class="text-center">
                            <a href="mailTo:{{ site.email }}">{{ site.email }}</a>
                        </p>
                    </div>
            </div>
        </div>

    </div>
</section>
