<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Contact</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="lead highlight text-center">Follow me on social media</h2>
                <div class="row text-center">
                    <div class="row-sm-2">
                            <a href="{{ site.facebook_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-facebook socialicon-sm"></i>
                                {{site.title}}
                            </a>
                    </div>
                    <div class="row-sm-2">
                        <a href="{{ site.instagram_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-instagram socialicon-sm"></i>
                            @jaz_boom_pt
                        </a>
                    </div>
                    <div class="row-sm-2">
                        <a href="{{ site.whatsapp_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-whatsapp socialicon-sm"></i>
                            Whatsapp
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                    <h2 class="lead highlight text-center">Address</h2>
                    <p class="text-center">
                        The Gym Group<br>
                        Pioneer Point, <br>
                        3-5 Winston Way, <br>
                        Ilford, IG1 2ZG, <br>
                        Essex, <br>
                        United Kingdom
                    </p>
            </div>
            <div class="col-md-4">
                    <div class="row">
                        <h2 class="lead highlight text-center">Telephone</h2>
                        <p class="text-center">
                            +44 (0) 7415 547566
                        </p>
                    </div>
                    <div class="row">
                        <h2 class="lead highlight text-center">Email</h2>
                        <p class="text-center">
                            <a href="mailTo:{{ site.email }}">{{ site.email }}</a>
                        </p>
                    </div>
            </div>
        </div>

    </div>


    <img src="{{site.logo}}" class="logowatermark" alt="jaz boom logo">

</section>
