<section class="bg-primary" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Frequently Asked Questions</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <li>Do I need a gym membership?</li>
            The model of “pay for access to a room full of equipment” that traditional gyms run? Tends to work for about 5% of their members. So to ensure you get the maximum possible results for the time you’re putting in- all of your training sessions at The Armoury will be appointment only, with your Personal Trainer, so no extra membership is required
            </p>
        </div>
    </div>
</section>
