<section class="bg-primary" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Frequently Asked Questions</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row flex-lg-row-reverse">
            <div class="col-md-6">
                <h4 class="highlight text-justify fontblack lead">Do I need a gym membership for personal training?</h4>
                <p class="text-justify fontblack">
                    You must get a gym membership with
                    <a href="{{site.gym_group_url}}" alt="gym group pioneer point" target="_blank" rel="noopener noreferrer" class="fontblack">
                        The Gym Group Pioneer Point
                    </a> which is a no contract £23.99 per month giving you 24 hours access to using
                    top gym equipment.
                    You can cancel with a month's notice or freeze your membership.
                </p>



                <br>
                <h4 class="highlight text-justify fontblack lead">
                    What’s the difference between personal training and online training?
                </h4>
                <p class="text-justify fontblack">
                    You will have everything a personal training client has available to them,
                    however I will not physically or via video link be by your side when you are
                    working out in the gym. We will regularly be checking in with each other on a
                    weekly basis so that I can help you to continue making progress in reaching
                    your goal.
                </p>


                <br>
                <h4 class="highlight text-justify fontblack lead">
                    What does a typical personal training with involve?
                </h4>
                <p class="text-justify fontblack">
                    The first session includes discussing protocols from the health questionnaire
                    you would have returned before we meet, I will talk you through your nutrition
                    plan, taking your starting out photos, carry out an assessment of your
                    movement through the warm-up and exercises.
                </p>
                <p class="text-justify fontblack">
                    This will give me the information I need to develop your nutrition and training
                    plan. After the designed programme has started, each 60min session will have
                    a mini review of your progress after which you will be pushed through a
                    challenging resistance training workout.
                </p>
                <p class="text-justify fontblack">
                    You will be expected to learn the warmup routine so that you can take time a
                    short while before the session to be prepared to begin allowing us to the use
                    every minute focusing on the workout routine.
                </p>



                <br>
                <h4 class="highlight text-justify fontblack lead">
                    Why is personal training important?
                </h4>
                <p class="text-justify fontblack">
                    Personal training helps you learn new exercises safely through close guidance
                    from an expert. Although you could learn by trying yourself without the
                    guidance, however it’s far safer and time effective to learn each movement
                    properly from the beginning.
                </p>
                <p class="text-justify fontblack">
                    By investing in {{site.title}}, you have an opportunity to use my
                    years of experience to achieve results faster which if attempting alone you
                    would take a lot longer with lots of trial and error to achieve if possible.
                </p>
                <p class="text-justify fontblack">
                    I will also have the knowledge to match the intensity to your abilities and
                    provide you with an in-depth training experience that pushes you to the edge
                    of your comfort zone.
                </p>
                <p class="text-justify fontblack">
                    It is critical to have support and a sense of accountability to achieve success in
                    health and fitness goals which a personal trainer can provide alongside the
                    tools you need to do this which cannot be matched when training alone.
                </p>

                <br>
                <h4 class="highlight text-justify fontblack lead">
                    How long will I need a personal trainer?
                </h4>
                <p class="text-justify fontblack">
                    The minimum term is <strong>12 weeks</strong> where clients have reached their goals, but it is
                    not unusual for clients to continue beyond 12 weeks to commit to their health
                    and fitness.
                </p>
                <p class="text-justify fontblack">
                    I do not run a quick results or high turnover business but every client who
                    invests in their training does so because the see value in the continued
                    progression, accountability, and ongoing support to maintain their results.
                </p>

            </div>

            <div class="col-md-6">

                <h4 class="highlight text-justify fontblack lead">
                    Do I really need a personal trainer?
                </h4>
                <p class="text-justify fontblack">
                    The answer is yes if you are serious about making a long-term investment in
                    your health and fitness. As a personal trainer I am not there to just trade time
                    on the gym floor for money, I will make it my personal goal to help you achieve
                    yours.
                </p>
                <p class="text-justify fontblack">
                    This is why I will be essential if you are committed to achieving positive,
                    sustainable lifestyle changes and this may involve in telling you what you need
                    to hear instead of what you would like to hear.
                </p>
                <p class="text-justify fontblack">
                    Training with me will not be a quick fix, it will be a long-term commitment to
                    your health, fitness and wellbeing which will provide you knowledge for life.
                </p>



                <br>
                <h4 class="highlight text-justify fontblack lead">
                    How many times a week should I train with you?
                </h4>
                <p class="text-justify fontblack">
                    The frequency will depend on your lifestyle, budget, and preferences, but most
                    of my clients train up to <strong>three times</strong> but have the option to go do four sessions
                    a week which all allow to maximise progression with effective recovery.
                </p>


                <br>
                <h4 class="highlight text-justify fontblack lead">
                    What does a Nutritionist do?
                </h4>
                <p class="text-justify fontblack">
                    A nutritionist is a broad title for a professional advising client on nutrition and it's effects on
                    them. They help clients alter their diet to promote a healthier lifestyle and eating habits.
                    Nutritionists teach people new, realistic, and sustainable ways to eat and understand food.
                </p>
                <p class="text-justify fontblack">
                    So, if you regularly don’t feel well or have certain medical condition like Diabetes, High
                    Cholesterol and High Blood Pressure, you may find it helpful to speak with a Nutritionist.
                </p>


                <br>
                <h4 class="highlight text-justify fontblack lead">
                    Will I receive advise on my nutrition including supplements while training?
                </h4>
                <p class="text-justify fontblack">
                    You will receive a nutrition and supplement plan which takes into
                    consideration your lifestyle, goal, and preferences. The time you spend training
                    is only a small part compared to the <strong>165 hours</strong> in the week but just as
                    important and the foundation of your results.
                </p>
                <p class="text-justify fontblack">
                    I will develop a sustainable plan for you to follow depending on your body
                    composition and goal. It will show importance of not eating saturated fatty
                    foods and processed foods, but instead focusing on quality protein, carbs,
                    fibre, and health fats. This will be big deal for health benefits and how you look
                    and feel at the end of your training.
                </p>
                <p class="text-justify fontblack">
                    You will complete a health questionnaire which will give me the information
                    about your goals, lifestyle, conditions, medications, symptoms, and current
                    diet set up so that I can use it to create your plan. You will also keep a weekly
                    activity and food diary so that I can make amendments when required to for
                    your continued progress.
                </p>







            </div>
        </div>
        <div class="row text-center lead highlight light ">
            <hr class="light">

            Find out more by <a href="{{site.baseurl}}/booking#book" class="lead fontblack highlight">
            booking</a> your complimentary consultation today.
            </a>
        </div>
    </div>
</section>
