<section class="bg-dark">
    <div class="container">
        <h4 class="highlight text-center">DISCLAIMER</h4>
        <h5 class="text-muted text-align">
            The services provided by the {{site.title}} does not guarantee results in a specified time.
            Each person's body is different and behaves differently. Hence, add more in here.
        </h5>
        <hr>
        <h5>
            &copy; COPYRIGHT 2023 {{site.title | upcase}}. ALL RIGHTS RESERVED.
        </h5>
        <div class="row">
            <div class="col-lg-6">
                <small class="text-muted">
                    <a href="{{site.baseurl}}/privacy">PRIVACY POLICY</a> |
                    <a href="{{site.baseurl}}/privacy">GDPR POLICY</a> |
                    <a href="{{site.baseurl}}/onetoonept#faq">FAQs</a> |
                    <a href="#" id="open_preferences_center">UPDATE COOKIES PREFERENCE</a>
                </small>
            </div>
            <div class="col-lg-6 text-right">
                <small class="text-muted">
                    Website Designed & Maintained by the <a href="{{site.developer_webpage}}">ATM
                    Enterprise Pvt. Ltd.</a>
                </small>
            </div>
        </div>
    </div>
</section>