<section class="bg-dark">
    <div class="container">
        <h5 class="highlight text-center">DISCLAIMER</h5>
        <h5 class="text-muted">
            The services provided by Jaz Boom Personal Trainer does not gaureentee results in a specified time.
            Each person's body is different and behaves differently. Hence add more in here.
        </h5>
        <hr>
        <h5>
            &copy; COPYRIGHT 2023. ALL RIGHTS RESERVED</p>
        </h5>
        <div class="row">
            <div class="col-lg-5">
                <p class="text-muted"><a href="{{site.baseurl}}/privacy">PRIVACY POLICY</a> | <a href="#">GDPR
                    POLICY</a>
            </div>
            <div class="col-lg-7 text-right">
                <p class="text-muted">Website Designed by the <a href="{{site.developer_webpage}}">ATM Enterprise</a>
                </p>
            </div>
        </div>
    </div>
</section>