<section class="bg-dark">
    <div class="container">
        <h4 class="highlight text-center">DISCLAIMER</h4>
        <h5 class="text-muted text-align">
            The services provided by Jaz Boom Personal Trainer does not guarantee results in a specified time.
            Each person's body is different and behaves differently. Hence, add more in here.
        </h5>
        <hr>
        <h5>
            &copy; COPYRIGHT 2023. ALL RIGHTS RESERVED</p>
        </h5>
        <div class="row">
            <div class="col-lg-5">
                <p class="text-muted"><a href="{{site.baseurl}}/privacy">PRIVACY POLICY</a> | <a
                        href="{{site.baseurl}}/privacy">GDPR
                    POLICY</a> | <a href="{{site.baseurl}}/onetoonept#faq">FAQs</a>
            </div>
            <div class="col-lg-7 text-right">
                <p class="text-muted">Website Designed & Maintained by the <a href="{{site.developer_webpage}}">ATM
                    Enterprise Pvt. Ltd.</a>
                </p>
            </div>
        </div>
    </div>
</section>