<header>
    <div class="header-content">
        <div class="header-content-inner">

            <!-- logo place -->
            <div class="row flex-lg-row-reverse">
                <a href="#">
                    <img src="{{site.logo}}" class="logo wow bounceIn" alt="jazboom logo">
                </a>
            </div>

            <!-- welcome message -->
            <div class="row flex-lg-row-reverse">
                <h3 class="lead">Welcome to <span class="highlight">{{site.title}}</span>.
                    <!-- Your Personal Trainer & Nutritionist in
                    <a href="{{ site.address_url }}" target="_blank" rel="noopener noreferrer">
                        <span class="highlight">East London</span>.
                    </a> -->
                    The place to begin your transformation journey.
                </h3>
                <h3 class="lead">Reach Your <span class="highlight">Health</span> &
                    <span class="highlight">Fitness</span> goals with
                    <a href="#"><span class="highlight">Jaz BooM</span></a>
                </h3>
                <p></p>
                <a href="{{site.baseurl}}/booking#book" class="btn btn-primary btn-md page-scroll lead">
                    Book Your Complimentary Consultation
                </a>
                <hr>
            </div>

            <!-- social icons here -->
            <div class="row flex-lg-row-reverse">
                <div class="social">
                    <a href="{{ site.facebook_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-facebook socialicon"></i>
                    </a>

                    <a href="{{ site.instagram_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-instagram socialicon"></i>
                    </a>

                    <a href="{{ site.whatsapp_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-whatsapp socialicon"></i>
                    </a>

                    <a href="mailTo:{{ site.email }}" class="btn" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-envelope socialicon"></i>
                    </a>

                    <a href="{{ site.address_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-geo-fill socialicon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>
