<header>
    <div class="header-content">
        <div class="header-content-inner">

            <!-- logo place -->
            <div class="row flex-lg-row-reverse">
                <img src="img/logo/jazboom.png" class="logo wow bounceIn">
            </div>

            <!-- welcome message -->
            <div class="row flex-lg-row-reverse">
                <h3 class="lead">Welcome to the <span class="highlight">Jaz Boom Personal Training</span>.
                    Your own Personal Trainer & Nutritionist in
                    <a href="{{ site.address_url }}" target="_blank"><span class="highlight">East London</span></a>.
                </h3>
                <h3 class="lead">It is time to give your <span class="highlight">health</span> a <a href="#"><span class="highlight">Jaz Boom</span></a> push.</h3>
                <p></p>
                <a href="{{ site.appointment_booking_url }}" class="btn btn-primary btn-xl page-scroll lead" target="_blank">
                    Book Your Complimentary Consultation Today
                </a>
                <hr>
            </div>

            <!-- social icons here -->
            <div class="row flex-lg-row-reverse">
                <div class="social">
                    <a href="{{ site.facebook_url }}" class="btn" target="_blank">
                        <i class="bi bi-facebook socialicon"></i>
                    </a>

                    <a href="{{ site.instagram_url }}" class="btn" target="_blank">
                        <i class="bi bi-instagram socialicon"></i>
                    </a>

                    <a href="{{ site.whatsapp_url }}" class="btn" target="_blank">
                        <i class="bi bi-whatsapp socialicon"></i>
                    </a>

                    <a href="mailTo:{{ site.email }}" class="btn" target="_blank">
                        <i class="bi bi-envelope socialicon"></i>
                    </a>

                    <a href="{{ site.address_url }}" class="btn" target="_blank">
                        <i class="bi bi-geo-fill socialicon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>
