<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>IT'S TIME TO PRIORITIZE YOU</h1>
            <hr>
            <h3>Welcome to Jaz Singh Coaching. Your own Personal Training & Nutritionist in <a href="https://goo.gl/maps/LWHsbBC1DGUCpS7x6" target="_blank">Ilford, Essex</a>.</h3>
            <h3>It is time to give your health a <a href=""><b>Jaz Boom</b></a> push.</h3>
            <p></p>
            <a href="https://koalendar.com/e/atm-enterprise" class="btn btn-primary btn-xl page-scroll" target="_blank">Book Your free consultation today</a>
            <hr>
            <p></p>
            <div class="social">
                <a href="https://www.facebook.com/JazBooMPT" class="btn" target="_blank">
                    <i class="bi bi-facebook" style="font-size: 3rem;"></i>
                </a>

                <a href="https://www.instagram.com/jaz_boom_pt/" class="btn" target="_blank">
                    <i class="bi bi-instagram" style="font-size: 3rem;"></i>
                </a>

                <a href="#" class="btn" target="_blank">
                    <i class="bi bi-tiktok" style="font-size: 3rem;"></i>
                </a>

                <a href="https://wa.me/447415547566?text=Hello%20Jaz%2C%20I%20am%20struggling%20with%20my%20health%20and%20looking%20to%20improve.%20Could%20you%20please%20help%20me%3F" class="btn" target="_blank">
                    <i class="bi bi-whatsapp" style="font-size: 3rem;"></i>
                </a>

                <a href="mailTo:jaz_personaltraining@yahoo.co.uk" class="btn" target="_blank">
                    <i class="bi bi-envelope" style="font-size: 3rem;"></i>
                </a>

                <a href="https://goo.gl/maps/LWHsbBC1DGUCpS7x6" class="btn" target="_blank">
                    <i class="bi bi-geo-alt-fill" style="font-size: 3rem;"></i>
                </a>
            </div>



        </div>
    </div>
</header>
