<section class="" id="programmes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Programmes</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-justify">
            <div class="col-md-6" id="11pt">
                <div class="col-md-12 panel">
                    <div class="thumbnail">
                        <img src="img/programs/1.jpg" class="panel-body text-center">
                        <h3 class="panel-header highlight lead text-center">1:1 Personal Training</h3>
                        <hr/>
                        <!--<h1 class="card-title pricing-card-title">£50<small class="text-muted fw-light">/mo per user</small></h1> -->
                        <div class="panel-body lead">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p class="text-center lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6" id="couplept">
                <div class="col-md-12 panel">
                    <div class="thumbnail">
                        <img src="img/programs/2.jpg" class="panel-body text-center">
                        <h3 class="panel-header highlight lead text-center">Couple Personal Training</h3>
                        <hr/>
                        <!--<h1 class="card-title pricing-card-title">£50<small class="text-muted fw-light">/mo per user</small></h1> -->
                        <div class="panel-body lead">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p class="text-center lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6" id="adv11pt">
                <div class="col-md-12 panel">
                    <div class="thumbnail">
                        <img src="img/programs/3.jpg" class="panel-body text-center">
                        <h3 class="panel-header highlight lead text-center">Advanced 1:1 Personal Training</h3>
                        <hr/>
                        <!--<h1 class="card-title pricing-card-title">£50<small class="text-muted fw-light">/mo per user</small></h1> -->
                        <div class="panel-body lead">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p class="text-center lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6"  id="nutritionpt">
                <div class="col-md-12 panel">
                    <div class="thumbnail">
                        <img src="img/programs/4.jpg" class="panel-body text-center">
                        <h3 class="panel-header highlight lead text-center">Nutrition Coaching</h3>
                        <hr/>
                        <!--<h1 class="card-title pricing-card-title">£50<small class="text-muted fw-light">/mo per user</small></h1> -->
                        <div class="panel-body lead">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p class="text-center lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="onlinept">
                <div class="col-md-12 panel">
                    <div class="thumbnail">
                        <img src="img/programs/5.jpg" class="panel-body text-center">
                        <h3 class="panel-header highlight lead text-center">Online Training</h3>
                        <hr/>
                        <!--<h1 class="card-title pricing-card-title">£50<small class="text-muted fw-light">/mo per user</small></h1> -->
                        <div class="panel-body lead">
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p class="text-center lead"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
</section>
