<!-- this section used as a sidebar for the program detailed pages -->
<div class="row">
    <br>
    <br>
    <br>
    <p class="lead text-center">
        Book Your Complimentary Consultation Today.
    </p>
    <hr>
    <p class="text-center">
        <a href="{{site.baseurl}}/booking#book" class="btn btn-primary btn-lg page-scroll lead">Book Now &raquo;</a>
    </p>
    <br>
    <!--<br>
    <p class="lead text-center">
        Contact me on social media
    </p>
    <hr>-->
    <p>
    <div class="social text-center">
        <a href="{{ site.facebook_url }}" class="btn" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook socialicon"></i>
        </a>

        <a href="{{ site.instagram_url }}" class="btn" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram socialicon"></i>
        </a>

        <a href="{{ site.whatsapp_url }}" class="btn" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-whatsapp socialicon"></i>
        </a>

        <a href="mailTo:{{ site.email }}" class="btn" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope socialicon"></i>
        </a>
    </div>
    </p>
</div>