<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Specialist Areas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <img src="img/icons/treadmill.gif" class="iconstyle">
                    <h3 class="lead">Sustainable Weight Loss</h3>
                    <!-- <p class="text-muted">add some information about your service here</p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img src="img/icons/deadlift.gif" class="iconstyle">
                    <h3 class="lead">Strength Training & Body Toning</h3>
                    <!-- <p class="text-muted">add some information about your service here</p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <img src="img/icons/balance.gif" class="iconstyle">
                    <h3 class="lead">Lowering Blood Sugar, Cholesterol & Blood Pressure</h3>
                    <!-- <p class="text-muted">add some information about your service here</p> -->
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <img src="img/icons/muscle.gif" class="iconstyle">
                    <h3 class="lead">Advanced Nutrition & Sports Nutrition</h3>
                    <!-- <p class="text-muted">add some information about your service here</p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".4s"></i> -->
                    <img src="img/icons/exercise-routine.gif" class="iconstyle">
                    <h3 class="lead">Personalised Nutrition Plans & Training Programmes</h3>
                    <!-- <p class="text-muted">add some information about your service here</p> -->
                </div>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <a href="https://koalendar.com/e/atm-enterprise" target="_blank" class="btn btn-primary btn-lg page-scroll">
                Reach your goal today &raquo;
            </a>
        </div>
    </div>

</section>
