<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Specialist Areas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icons/treadmill.gif" class="iconstyle">
                    <h3 class="lead">Sustainable Weight Loss</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icons/deadlift.gif" class="iconstyle">
                    <h3 class="lead">Strength Training & Body Toning</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icons/balance.gif" class="iconstyle">
                    <h3 class="lead">Lowering Blood Sugar, Cholesterol & Blood Pressure</h3>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icons/muscle.gif" class="iconstyle">
                    <h3 class="lead">Advanced Nutrition & Sports Nutrition</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icons/exercise-routine.gif" class="iconstyle">
                    <h3 class="lead">Personalised Nutrition Plans & Training Programmes</h3>
                </div>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <a href="{{site.baseurl}}/booking#book" class="btn btn-primary btn-lg page-scroll">
                Reach your goal today &raquo;
            </a>
        </div>
    </div>

    <img src="{{site.logo}}" class="logowatermark" alt="jaz boom logo">

</section>
