<section class="" id="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Shop</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col panel">
                <div class="">
                    <h3 class="panel-header highlight text-center">Coming Soon</h3>
                    <div class="panel-body">
                        <p>
                            Look out for some exclusive Jaz Boom products coming soon.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="{{site.logo}}" class="logowatermark" alt="jaz boom logo">
</section>
