<section class="" id="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Shop</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <p></p>
                    <a href="https://bit.ly/3Ay9c7O" target="_blank">
                        <img src="img/shop/reflex.jpg" style="width: 40%; height: 40%"
                             alt="reflex nutrition off">
                    </a>
                    <div class="caption">
                        <a href="https://bit.ly/3Ay9c7O" target="_blank">
                            <h3 class="highlight">
                                Get <span style="color: red;">22% off</span> Reflex Nutrition
                            </h3>
                        </a>
                        <p>
                            At the forefront of Sports Nutrition for 25 years
                        </p>
                        <a href="https://bit.ly/3Ay9c7O" class="btn btn-primary btn-md page-scroll lead"
                           target="_blank">
                            Shop Now &raquo;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="{{site.logo}}" class="logowatermark" alt="jaz boom logo">
</section>
