<section class="" id="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Shop</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="https://solgar.co.uk" target="_blank" class="btn">
                    <img src="img/logo/solgar.png" width="160" height="90" loading="lazy">
                </a>
            </div>
            <div class="col">
                <a href="https://reflexnutrition.com" target="_blank" class="btn">
                    <img src="img/logo/reflex.png" width="160" height="110" loading="lazy">
                </a>
            </div>
        </div>
    </div>

</section>
