<section class="bg-primary" id="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">The Result you can expect</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for t in site.data.testimonials %}
            {% if t.featured == true %}
            <div class="col-md-6 bg-primary">
                <div class="col-md-12 panel bg-primary">
                    <div class="thumbnail">
                        <img src="{{t.testimonial.image}}" class="panel-body text-center">
                        <h3 class="panel-header highlight text-center fontblack">{{t.testimonial.title}}</h3>
                        <hr/>
                        <p class="fontblack text-center">
                            Testimonial By:&nbsp;&nbsp;<span class="highlight">{{t.testimonial.author}}</span>
                            <span class="text-muted">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <a href="{{ t.testimonial.link }}" target="_blank"
                               rel="noopener noreferrer">
                                <i class="bi bi-instagram fa-x"></i>
                            </a>
                        </p>
                        <div class="panel-body text-justify">
                            <p class="fontblack">
                                <i class="bi bi-quote fa-lg fontblack"></i>
                                <span class="wrap">{{t.testimonial.description | truncatewords: 90}}</span>
                                <a href="{{ t.testimonial.link }}" target="_blank" rel="noopener noreferrer">read more</a>
                            </p>
                            <!--<p class="text-right">
                                <a href="{{ t.testimonial.link }}" target="_blank"
                                   rel="noopener noreferrer">
                                    <i class="bi bi-instagram socialicon"></i>
                                </a>
                            </p>-->
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row text-center">
            <a href="{{site.baseurl}}/testimonials" class="btn btn-default btn-md">
                Read more Client Success Stories &raquo;
            </a>
        </div>
    </div>

    <img src="img/logo/jazboom.png" class="logowatermark">

</section>
