<section class="bg-primary" id="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">The Result you can expect</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for t in site.data.testimonials %}
            {% if t.featured == true %}
            <div class="col-md-6 bg-primary">
                <div class="col-md-12 panel bg-primary">
                    <div class="thumbnail">
                        <img src="{{t.testimonial.image}}" class="panel-body text-center">
                        <h3 class="panel-header highlight text-center fontblack">{{t.testimonial.title}}</h3>
                        <hr/>
                        <h4 class="lead fontblack text-center">Author:
                            <span class="highlight">{{t.testimonial.author}}</span>
                        </h4>
                        <div class="panel-body text-justify">
                            <p class="fontblack"><i class="bi bi-quote"></i> {{t.testimonial.description}}</p>
                            <p class="text-right">
                                <a href="{{ t.testimonial.link }}" class="btn" target="_blank"
                                   rel="noopener noreferrer">
                                    <i class="bi bi-instagram socialicon"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row text-center">
            <a href="{{site.baseurl}}/testimonials" class="btn btn-default btn-md">
                Read more Client Success Stories &raquo;
            </a>
        </div>
    </div>

    <img src="img/logo/jazboom.png" class="logowatermark">

</section>
