<section class="bg-primary" id="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Success Stories</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>

                </p>
                <p class="text-align">
                    Gopi is a working mum who has done great to achieve our realistic goal set of weightloss, and improved health through online coaching.
                    We kept her favourite foods in the nutrition plan, she completed a minimum of 2 resistance training workouts a week and hit her weekly steps target.
                    Gopi checked in with me once a week and messaged me when she needed to in order to stay on track and #BooM👊💥 we hit her goals.
                </p>
            </div>

            <div class="col-md-5">

             </div>
        </div>
        <div class="row text-center">
            <a href="https://koalendar.com/e/atm-enterprise" target="_blank" class="btn btn-default btn-md page-scroll">
                Read More Success Stories &raquo;
            </a>
        </div>
    </div>
</section>
